{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <section id="catalogPage">
        <h1>Yarn Toys</h1>
        <div class="card-box">
            {% for product in products %}
            <img src="{{ product.product_photo }}" alt="Cover Image">
            <div>
{#                <div class="text-center">#}
{#                    <p class="name">Name: {{ product.name }}</p>#}
{#                    <p class="price">Price: {{ product.price|floatformat:2 }}</p>#}
{#                </div>#}
                <div class="btn-group">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'details product' pk=product.pk %}">Details</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}