{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <section id="catalogPage">
        <h1>Yarn Toys</h1>
        <!-- First Card-Box in catalog -->
        <div class="card-box">
            {% for order in orders %}
            {#        TODO: check product_set is valid !#}
            <div>
                <div class="text-center">
                    <p class="name">Name: {{ order.first_name }} {{ order.last_name }}</p>
                    <p class="price">Price: {{ order.price }}</p>
                    <p class="address">Price: {{ order.address }}</p>
                    <p class="telephone">Price: {{ order.telephone_number }}</p>
                </div>
                <div class="btn-group">
                    <a href="{% url 'change orders status' pk=order.pk %}">Ready</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}